<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页--微校园后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="../static/css/admin.css" media="all" />
</head>
<body layadmin-themealias="default">
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
					学校总人数
					<span class="layui-badge layui-bg-blue layuiadmin-badge">2019</span>
					</div>
					
					<div class="layui-card-body layuiadmin-card-list">
						<p class="layuiadmin-big-font">
							12340
						</p>
						<p>
							分院人数
							<span class="layuiadmin-span-color">1565人
								<i class="layui-inline layui-icon layui-icon-flag"></i>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
					学校总人数
					<span class="layui-badge layui-bg-blue layuiadmin-badge">2019</span>
					</div>
					
					<div class="layui-card-body layuiadmin-card-list">
						<p class="layuiadmin-big-font">
							12340
						</p>
						<p>
							分院人数
							<span class="layuiadmin-span-color">1565人
								<i class="layui-inline layui-icon layui-icon-flag"></i>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
					学校总人数
					<span class="layui-badge layui-bg-blue layuiadmin-badge">2019</span>
					</div>
					
					<div class="layui-card-body layuiadmin-card-list">
						<p class="layuiadmin-big-font">
							12340
						</p>
						<p>
							分院人数
							<span class="layuiadmin-span-color">1565人
								<i class="layui-inline layui-icon layui-icon-flag"></i>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
					学校总人数
					<span class="layui-badge layui-bg-blue layuiadmin-badge">2019</span>
					</div>
					
					<div class="layui-card-body layuiadmin-card-list">
						<p class="layuiadmin-big-font">
							12340
						</p>
						<p>
							分院人数
							<span class="layuiadmin-span-color">1565人
								<i class="layui-inline layui-icon layui-icon-flag"></i>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm12">
			<div class="layui-card">
			<div class="layui-card-header"></div>
			<div class="layui-card-body">
				<div class="layui-row">
					<div class="layui-col-sm8">
						<div id="tubiao" style="height:600px;"></div>
					</div>
					<div class="layui-col-sm4">
						<div class="layui-card">
							<div class="layui-card-header">解决bug能力排名</div>
							<div class="layui-card-body">
								<table class="layui-table layuiadmin-page-table" lay-skin="line">
									<thead>
									<tr>
										<td>用户名</td>
										<td>最后登录时间</td>
										<td>状态</td>
										<td>获得赞</td>
									</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="first">张志强</span></td>
											<td><i class="layui-icon layui-icon-log"> 22:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span class="second">李金鹏</span></td>
											<td><i class="layui-icon layui-icon-log"> 22:10</i></td>
											<td><span>在线</span></td>
											<td>220<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span class="third">王驰</span></td>
											<td><i class="layui-icon layui-icon-log"> 22:09</i></td>
											<td><span>在线</span></td>
											<td>212<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>韦乾来</span></td>
											<td><i class="layui-icon layui-icon-log"> 22:08</i></td>
											<td><span>在线</span></td>
											<td>212<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>李颖鹏</span></td>
											<td><i class="layui-icon layui-icon-log"> 19:20</i></td>
											<td><span>在线</span></td>
											<td>121<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>李洋</span></td>
											<td><i class="layui-icon layui-icon-log"> 19:10</i></td>
											<td><span>在线</span></td>
											<td>112<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>陈糠杰</span></td>
											<td><i class="layui-icon layui-icon-log"> 16:10</i></td>
											<td><span>在线</span></td>
											<td>109<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>庭国继</span></td>
											<td><i class="layui-icon layui-icon-log"> 12:20</i></td>
											<td><span>在线</span></td>
											<td>100<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>吴海</span></td>
											<td><i class="layui-icon layui-icon-log"> 16:20</i></td>
											<td><span>在线</span></td>
											<td>80<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>龙本银</span></td>
											<td><i class="layui-icon layui-icon-log"> 16:20</i></td>
											<td><span>在线</span></td>
											<td>80<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>孟凡胜</span></td>
											<td><i class="layui-icon layui-icon-log"> 16:20</i></td>
											<td><span>在线</span></td>
											<td>80<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			</div>
		</div>
			<div class="layui-col-sm4">
				<div class="layui-card">
					<div class="layui-card-header">用户留言</div>
					<div class="layui-card-body">
						<ul class="layuiadmin-card-status layuiadmin-home2-usernote">
							<li>
								<h3>马云</h3>
								<p>凯里学院大数据工程学院无敌软件开发团队就是牛！！！</p>
								<span>3月23日 00:00</span>
								<a href="javascript:;" layadmin-event="replyNote" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
							</li>
							<li>
								<h3>马化腾</h3>
								<p>凯里学院大数据工程学院无敌软件开发团队就是牛！！！</p>
								<span>3月23日 00:00</span>
								<a href="javascript:;" layadmin-event="replyNote" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
							</li>
							<li>
								<h3>马云</h3>
								<p>凯里学院大数据工程学院无敌软件开发团队就是牛！！！</p>
								<span>3月23日 00:00</span>
								<a href="javascript:;" layadmin-event="replyNote" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
							</li>
							<li>
								<h3>马云</h3>
								<p>凯里学院大数据工程学院无敌软件开发团队就是牛！！！</p>
								<span>3月23日 00:00</span>
								<a href="javascript:;" layadmin-event="replyNote" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
							</li>
							<li>
								<h3>马云</h3>
								<p>凯里学院大数据工程学院无敌软件开发团队就是牛！！！</p>
								<span>3月23日 00:00</span>
								<a href="javascript:;" layadmin-event="replyNote" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-col-sm8">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-sm6">
						<div class="layui-card">
							<div class="layui-card-header"></div>
							<div class="layui-card-body">
								<table class="layui-table layuiadmin-page-table" lay-skin="line">
									<thead>
									<tr>
										<td>用户名</td>
										<td>最后登录时间</td>
										<td>状态</td>
										<td>获得赞</td>
									</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="first">张志强</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span class="second">李金鹏</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span class="third">王驰</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>马云</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>马化腾</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>牛顿</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
										<tr>
											<td><span>爱因斯坦</span></td>
											<td><i class="layui-icon layui-icon-log"> 11:20</i></td>
											<td><span>在线</span></td>
											<td>222<i class="layui-icon layui-icon-praise"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="layui-col-sm6">
						<div class="layui-card">
							<div class="layui-card-header"></div>
							<div class="layui-card-body">
								
						<div class="layuiadmin-card-list">
							<p class="layuiadmin-normal-font">张志强</p>
							<span>python技术</span>
							<div class="layui-progress layui-progress-big" lay-showpercent="true">
								<div class="layui-progress-bar" lay-percent="50%"></div>
							</div>
						</div>
						<div class="layuiadmin-card-list">
							<p class="layuiadmin-normal-font">李金鹏</p>
							<span>java技术</span>
							<div class="layui-progress layui-progress-big" lay-showpercent="true">
								<div class="layui-progress-bar layui-bg-blue" lay-percent="63%"></div>
							</div>
						</div>
						<div class="layuiadmin-card-list">
							<p class="layuiadmin-normal-font">王驰</p>
							<span>sql技术</span>
							<div class="layui-progress layui-progress-big" lay-showpercent="true">
								<div class="layui-progress-bar layui-bg-red" lay-percent="68%"></div>
							</div>
						</div>
						</div>
						</div>
					</div>
					<div class="layui-col-sm12">
						<div class="layui-card">
							<div class="layui-card-header"></div>
							<div class="layui-card-body">
								<div id="myChart2" style="height:300px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/layui/layui.js"></script>
	<script type="text/javascript" src="../static/js/echarts.min.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/html" id="barDemo">
 		 <a class="layui-btn layui-btn-mini layui-btn-warm" lay-event="detail"><i class="layui-icon">&#xe615;</i>查看</a>
	</script>
</body>
</html>